 .newsSelectionElements {
 	display: inline-block;
 	margin-left: 5px;
 }

  .news {
  	   border: 2px solid #99ff99; 
  	   border-radius: 5px; 
  	   margin-bottom: 5px;	 	   
  }

  .newsTitle {
  	margin: 5px 0px 5px 5px;	
  	width: 25%;
  	text-align: justify;
  	background-color: #99ff99;    
    color: white; 
    border-radius: 5px; 
    padding: 0px 5px 0px 5px;
    display: inline-block;
  }

  .newsPublishedDate {
  	display: inline-block;
  	float: right;
  	margin-right: 5px;  	
  }

  .newsPicture {
  	margin-left: 5px;  	
  	overflow: hidden;  	
  }

 a {
 	margin-left: 5px;
  	color: black;
  	text-decoration: none;
  	font-style: italic;
  	font-size: 28px;
 }

 h1 {
 	font-family:  "Ariel", Sans-serif;
 	margin-left: 5px;
 }

 select { 
    border: 1px solid #99ff99; 
  	border-radius: 5px;
  	font-size: 16px;
 }

button {
    background-color: #99ff99;
    border: 1px solid #99ff99; 
  	border-radius: 5px;
    color: white;    
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}